<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<img height="70" src="http://snippethack.com/img/logo.png">
<h2>
	<p>You have a new match on Snippet!</p>
</h2>
<h1><img width="200" height="200" src="<%= matchPicture %>" class="circularx"></h1>
<h3><%= matchName %>, <%= matchUniversity %></h3>
<h4>
	<p>To start a conversation with <%= matchName %>, simply reply to this email thread</p>
	<a href="http://snippethack.com/matches">View all of your matches on Snippet!</a>
</h4>
<hr width="85%">
<h1><p>To stop receiving emails from Snippet, <a href="http://snippetmatch.com/settings">remove yourself from the match queue</a> or <a href="http://snippetmatch.com/unsubscribe">unsubscribe from all emails</a></p></h1>
</body>
</html>
