extends ../layout

block content
  #container.homeElement
    #container.loginElement
      .col-sm-8.col-sm-offset-2
        form(method='POST')
          #container.inputfield
            legend Sign In
          input(type='hidden', name='_csrf', value=token)
          .form-group
            .btn-group.btn-group-justified
              if secrets.facebookAuth
                  a.btn.btn-facebook(href='/auth/facebook')
                    i.fa.fa-facebook
                    | Facebook
                if secrets.twitterAuth
                  #container.inputfield
                    a.btn.btn-twitter.btn-block(href='/auth/twitter')
                      i.fa.fa-twitter
                      | Twitter
                if secrets.githubAuth
                  a.btn.btn-github(href='/auth/github')
                    i.fa.fa-github
                    | GitHub
                if secrets.googleAuth
                  a.btn.btn-google-plus(href='/auth/google')
                    i.fa.fa-google-plus
                    | Google
          if secrets.localAuth
            .form-group
              #container.inputfield
                label.control-label(for='email') Email
                input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true, size="15")
            .form-group
            #container.inputfield
              #container.inputfield
                label.control-label(for='password') Password
                input.form-control(type='password', name='password', id='password', placeholder='Password')
            .form-group
              br
              button.btn.btn-primary(type='submit')
                i.fa.fa-unlock-alt
                | Login
              a.btn.btn-link(href='/forgot') Forgot your password?
    #container.registerElement
        #container.registerButton
            a.button.btn.btn-primary.btn-lg(href='/signup') Register
