#footer
  .container.text-center
    .container.footer
      div
        container.footerContact
         | Questions or concerns? Contact
         a(href='http://twitter.com/snippethack')  @SnippetHack
         |  or
         a(href='/contact')  Email Us!
      br
      div
        | © 2014 Jonah Back and Ken Addison
      div
        strong Snippet
        |  ·
        | Expanded from code by
        a(href='http://sahatyalkabov.com')  Sahat Yalkabov
      div
        | Code licensed under
        a(href='http://opensource.org/licenses/mit-license.html')  MIT License
      div
        | Donations?
        br
        | BTC: 1J11Fp8U4SKLTq5eUnsyuMxtRBLN2i7zco
        br
        | Doge: DB7dXvV6xxMcQe3ykHewRMVkobiq2GXk2r
        br
        br
      div
