extends layout

block content
 h1 Find Your Match 
  h2
   img(src= "http://upload.wikimedia.org/wikipedia/commons/3/33/Nicolas_Cage_2011_CC.jpg", width="257", height="326", align="center")
  h3
     |Nick, University of Cincinnati
  h4
     |Gear: iOS, Android, Google Glass
  h5
     |Interests: Node.js, Social Games
  h6
     |Skills: Javascript, Ruby, PHP
  #container.buttons
   img(src= "img/yes.png", width="80", height="80")
   img(src= "img/no.png", width="80", height="80")
