extends layout

block content
 h1 Find Your Match 
  p.1
   img(src= "http://upload.wikimedia.org/wikipedia/commons/3/33/Nicolas_Cage_2011_CC.jpg", width="257", height="326", align="center")
  p.2
   img(src= "img/yes.png", width="80", height="80", align="left")
   img(src= "img/no.png", width="80", height="80", align="left")
    